body{
  background: url('./bg.jpg');
  background-size: repeat;
  padding: 5%;
}

  
.App {
  text-align: center;
}

.container{
  background-color: white;
  border-radius: 10px;
  
  padding: 2%;
 
}

.height{
  margin-bottom: 50px;
}

.borderRadius{
  border-radius: 10px;
}

.bold{
  font-weight: bold;
}



